<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
    <div class="container" id="info">
        <div class="alert alert-info">
            <strong>WARNING!</strong><span> Only admin can see this page!!!</span>>
        </div>
    </div>
  <div class="container" id="container">
      <div class="alert alert-primary">
          <a href="/admin/customers">ALL CUSTOMERS</a>
      </div>
      <div class="alert alert-primary">
          <a href="/admin/districts">ALL DISTRICTS</a>
      </div>
      <div class="alert alert-primary">
          <a href="/admin/landlords">ALL LANDLORDS</a>
      </div>
      <div class="alert alert-primary">
          <a href="/admin/apartments">ALL APARTMENTS</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/apartmentImages">ALL APARTMENT`S IMAGES</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/apartmentRentals">ALL APARTMENT`S RENTALS</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/roles">ALL ROLES</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/users">ALL USERS</a>
      </div>
  </div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>
<script>
    //-------read cookies and config---------------------------------------
    function readCookies() {
        const cookies = document.cookie.split(';');; // This gets all cookies as a single string
        let cookie_user = '';
        for (const cookie of cookies) {
            const parts = cookie.split('=');
            if (parts[0].trim() === 'log') {
                cookie_user = parts[1];
                break;
            }
        }
        return convertToObject(cookie_user);
    }

    function convertToObject(str) {
        const obj = {};
        const keyValuePairs = str.split('|');

        keyValuePairs.forEach(pair => {
            const [key, value] = pair.split(':');
            obj[key] = isNaN(Number(value)) ? value : Number(value);
        });

        return obj;
    }

    function updateLoginLogoutDisplay() {
        const objCookie = readCookies();
        // Assuming 'log' is the name of the cookie that holds the login status
        const isLoggedIn = objCookie && objCookie.login;

        // Find the login/logout list item
        const loginListItem = $('.nav-item').filter(function() {
            return $(this).find('a').text().toUpperCase().includes('LOG IN');
        });

        const visibleContainer = document.getElementById('container');
        const visibleInfo = document.getElementById('info');
        // Update the text and href based on login status
        if (isLoggedIn) {
            if(objCookie.role === 'admin'){
                visibleContainer.style.display = 'block';
                visibleInfo.style.display = 'none';
            }else{
                visibleInfo.style.display = 'block';
                visibleContainer.style.display = 'none';
            }
            loginListItem.find('a').text('Hallo ' + objCookie.login + ', LOG OUT');
            loginListItem.find('a').attr('href', '/logout'); // Set this to your actual logout URL
        } else {
            visibleContainer.style.display = 'none';
            loginListItem.find('a').text('LOG IN');
            loginListItem.find('a').attr('href', '/login');
        }
    }

    // Call updateLoginLogoutDisplay on page load to set the correct option
    updateLoginLogoutDisplay();
    //------------------------------------------------------------------
</script>