<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
  <div class="container">
      <div class="alert alert-primary">
          <a href="/admin/customers">ALL CUSTOMERS</a>
      </div>
      <div class="alert alert-primary">
          <a href="/admin/districts">ALL DISTRICTS</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/landlords">ALL LANDLORDS</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/apartments">ALL APARTMENTS</a>
      </div>
      <div class="alert alert-warning">
          <a href="/admin/apartmentImages">ALL APARTMENT`S IMAGES</a>
      </div>
  </div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>