<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
  <meta charset="UTF-8">
  <title>New Apartment Image</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
  <div class="container">
    <h3>NEW APARTMENT`S IMAGE</h3>
    <form action="/apartments/newImage" method="post" enctype="multipart/form-data">
      <div>
        <label for="apartment" class="form-label">Apartment:</label>
        <select class="form-select w-50 mb-3" aria-label="Default select example" id="apartment" name="apartment" required>
          <option value="0" selected>Open this select menu</option>
          <div th:each="apartment : ${apartments}">
            <option th:value="${apartment.getId()}" th:text="${apartment.getDistrict().getNameDistrict() + ', ' + apartment.getAddress() + ', ' + apartment.getBedrooms()}"></option>
          </div>
        </select>
      </div>
      <div class="mb-3 w-50">
        <label for="linkImage" class="form-label">Link image:</label>
        <input type="file" class="form-control" id="linkImage" name="linkImage" required>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="'/admin/apartmentImages'" class="btn btn-secondary">Back</a>
      </div>
    </form>
  </div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>
<script>
  //------------------------------------------------------------------------------
  function readCookies() {
    const cookies = document.cookie.split(';');; // This gets all cookies as a single string
    let cookie_user = '';
    for (const cookie of cookies) {
      const parts = cookie.split('=');
      if (parts[0].trim() === 'log') {
        cookie_user = parts[1];
        break;
      }
    }
    return convertToObject(cookie_user);
  }

  function convertToObject(str) {
    const obj = {};
    const keyValuePairs = str.split('|');

    keyValuePairs.forEach(pair => {
      const [key, value] = pair.split(':');
      obj[key] = isNaN(Number(value)) ? value : Number(value);
    });

    return obj;
  }

  function updateLoginLogoutDisplay() {
    const objCookie = readCookies();
    // Assuming 'log' is the name of the cookie that holds the login status
    const isLoggedIn = objCookie && objCookie.login;

    // Find the login/logout list item
    const loginListItem = $('.nav-item').filter(function() {
      return $(this).find('a').text().toUpperCase().includes('LOG IN');
    });

    // Update the text and href based on login status
    if (isLoggedIn) {
      loginListItem.find('a').text('Hallo ' + objCookie.login + ', LOG OUT');
      loginListItem.find('a').attr('href', '/logout'); // Set this to your actual logout URL
    } else {
      loginListItem.find('a').text('LOG IN');
      loginListItem.find('a').attr('href', '/login');
    }
  }

  // Call updateLoginLogoutDisplay on page load to set the correct option
  updateLoginLogoutDisplay();
  //------------------------------------------------------------------
</script>