<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
  <div class="container">
    <h3>NEW CUSTOMER</h3>
    <form action="/customers/newCustomer" method="post">
      <div style="display: flex;">
        <div style="margin-right: 20px">
          <div class="mb-3 w-100">
            <label for="firstname" class="form-label">Firstname:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
          </div>
          <div class="mb-3 w-100">
            <label for="lastname" class="form-label">Lastname:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
          </div>
          <div class="mb-3 w-100">
            <label for="email" class="form-label">E-Mail:</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3 w-100">
            <label for="phone" class="form-label">Phone:</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
          </div>
          <div class="mb-3 w-100">
            <label for="address" class="form-label">Address:</label>
            <input type="text" class="form-control" id="address" name="address" required>
          </div>
        </div>

        <div>
          <div class="mb-3 w-100">
            <label for="numberRooms" class="form-label">Number of rooms:</label>
            <input type="number" class="form-control" id="numberRooms" name="numberRooms" min="0" value="1" required>
          </div>
          <div class="mb-3 w-100">
            <label for="floor" class="form-label">Floor:</label>
            <input type="number" class="form-control" id="floor" name="floor" min="1" value="1" required>
          </div>
          <div class="mb-3 w-100">
            <label for="price" class="form-label">Price:</label>
            <input type="number" class="form-control" id="price" name="price" min="0" value="0.00" required>
          </div>
          <div>
            <label for="district" class="form-label">District:</label>
            <select class="form-select w-100 mb-3" aria-label="Default select example" id="district" name="district" required>
              <option selected>Open this select menu</option>
              <div th:each="district : ${districts}">
                <option th:value="${district.getId()}" th:text="${district.getNameDistrict()}"></option>
              </div>
            </select>
          </div>
        </div>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="'/admin/customers'" class="btn btn-secondary">Back</a>
      </div>
    </form>
  </div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>