<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
<div class="container">
  <form action="/roles/newRole" method="post">
    <div class="mb-3 w-25">
      <label for="role" class="form-label">District:</label>
      <input type="text" class="form-control" id="role" name="role" required>
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a th:href="'/admin/roles'" class="btn btn-secondary">Back</a>
    </div>
  </form>
</div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>