<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
  <meta charset="UTF-8">
  <title>Rental Apartment Info</title>
</head>
<header th:insert="section/header ::header"></header>
<style>
  .image-style {
    height: 150px;
    width: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .enlarged-image {
    position: fixed; /* Fixed position to keep it on top of everything */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(3); /* Center and enlarge */
    z-index: 10000; /* Very high z-index to ensure it's on top */
    transition: transform 0.3s ease, z-index 0s ease; /* Smooth transition for transform and instant for z-index */
  }
</style>
<body>
  <div class="container">
    <h3 th:text="${rental.getBedrooms()} + '-x bedrooms apartment'"></h3>
    <div>
      <table class="table table-hover table-striped-column">
        <thead>
          <tr>
            <th>District</th>
            <th>Address</th>
            <th>Rent amount, &euro;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${rental.getDistrict()}"></td>
            <td th:text="${rental.getAddress()}"></td>
            <td th:text="${rental.getRentAmount()}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <p th:text="${rental.getDescription()}"></p>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
      <div th:each="image : ${rental.getAllListImages()}" style="margin-bottom: 20px">
        <img class="image-style"
             th:src="${image}" th:alt="image" onclick="enlargeImage(event)">
      </div>
    </div>
    <div style="display: flex; justify-content: space-between">
      <a th:href="'/rental'" class="btn btn-secondary">Back</a>
      <form th:action="'/rental/' + ${rental.getId()} + '/apartment'" method="post" class="rentalForm">
        <button type="submit" class="btn btn-success">Rent</button>
      </form>
    </div>
  </div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>
<script>
  let isLarge = false;
  const rentalForm = document.querySelectorAll('.rentalForm');

  function enlargeImage(e){
    const img = e.target;
    if(isLarge){
      img.classList.remove('enlarged-image');
      isLarge = false;
    }else{
      img.classList.add('enlarged-image');
      isLarge = true;
    }
  }

  //-------read cookies and config---------------------------------------
  function readCookies() {
    const cookies = document.cookie.split(';');; // This gets all cookies as a single string
    let cookie_user = '';
    for (const cookie of cookies) {
      const parts = cookie.split('=');
      if (parts[0].trim() === 'log') {
        cookie_user = parts[1];
        break;
      }
    }
    return convertToObject(cookie_user);
  }

  function convertToObject(str) {
    const obj = {};
    const keyValuePairs = str.split('|');

    keyValuePairs.forEach(pair => {
      const [key, value] = pair.split(':');
      obj[key] = isNaN(Number(value)) ? value : Number(value);
    });

    return obj;
  }

  function updateLoginLogoutDisplay() {
    const objCookie = readCookies();
    // Assuming 'log' is the name of the cookie that holds the login status
    const isLoggedIn = objCookie && objCookie.login;

    // Find the login/logout list item
    const loginListItem = $('.nav-item').filter(function() {
      return $(this).find('a').text().toUpperCase().includes('LOG IN');
    });

    // Update the text and href based on login status
    if (isLoggedIn) {
      loginListItem.find('a').text('Hallo ' + objCookie.login + ', LOG OUT');
      loginListItem.find('a').attr('href', '/logout'); // Set this to your actual logout URL
      rentalForm.forEach(item => {
        item.style.display = 'block';
      });
    } else {
      loginListItem.find('a').text('LOG IN');
      loginListItem.find('a').attr('href', '/login');
      rentalForm.forEach(item => {
        item.style.display = 'none';
      });
    }
  }

  // Call updateLoginLogoutDisplay on page load to set the correct option
  updateLoginLogoutDisplay();
  //------------------------------------------------------------------
</script>