<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
  <meta charset="UTF-8">
  <title>Rental</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
  <div class="container">
    <h2 style="text-align: center">ONLINE RENTAL APARTMENTS</h2>
    <div style="display: flex; justify-content: space-between">
      <form style="display: flex; align-items: center" action="/rental" method="get">
        <div>
          <button type="submit" class="btn btn-sm btn-success">Show All</button>
        </div>
      </form>
      <form action="/rental/searchApartments" method="post">
        <div style="display: flex; align-items: center">
          <div class="mb-3 w-80" style="margin-right: 10px">
            <label for="rooms">Count of rooms:</label>
            <input type="number" class="form-control" id="rooms" min="1" value="1" name="rooms">
          </div>
          <div class="w-80" style="margin-right: 10px">
            <label style="margin-bottom: 0" for="district" class="form-label">District:</label>
            <select class="form-select w-100 mb-3" aria-label="Default select example" id="district" name="district" required>
              <option value="0" selected>Open this select menu</option>
              <div th:each="district : ${districts}">
                <option th:value="${district.getId()}" th:text="${district.getNameDistrict()}"></option>
              </div>
            </select>
          </div>
          <div class="mb-3 w-80" style="margin-right: 10px">
            <label for="price">Price to:</label>
            <input type="number" class="form-control" id="price" min="0" value="0.00" name="price">
          </div>
          <div>
            <button type="submit" class="btn btn-sm btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
      <div th:each="rental : ${rentals}" class="shadow p-3 mb-2 bg-white rounded">
        <div class="card" style="width: 18rem;">
          <img style="height: 150px; width: auto; object-fit: cover;" th:src="${rental.getAllListImages().get(0)}"
               class="card-img-top" th:alt="${rental.getId()}">
          <div class="card-body">
            <p style="font-weight: bolder" class="card-text" th:text="${rental.getBedrooms()} + '-x bedrooms apartment'"></p>
            <p class="card-text"><strong>District:</strong> <span th:text="${rental.getDistrict()}"></span></p>
            <p class="card-text"><strong>Address:</strong> <span th:text="${rental.getAddress()}"></span></p>
            <p class="card-text" th:text="${#strings.length(rental.getDescription()) > 30 ?
        #strings.substring(rental.getDescription(), 0, 30) + '...' : rental.getDescription()}"></p>
            <p class="card-text"><strong>Price:</strong> <span th:text="${rental.getRentAmount()} + ' &euro;'"></span></p>
          </div>
        </div>
        <div style="margin-top: 10px">
          <div style="display: flex; justify-content: space-between">
            <form th:action="'/rental/' + ${rental.getId()} + '/info'" method="post">
              <button type="submit" class="btn btn-primary">More...</button>
            </form>
            <form th:action="'/rental/' + ${rental.getId()} + '/apartment'" method="post">
              <button type="submit" class="btn btn-success">Rent</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>