<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>Update district</title>
</head>
<header th:insert="section/header ::header"></header>
<body>
<div class="container">
    <h3>UPDATE DISTRICT</h3>
    <form th:action="'/district/' + ${district.getId()} + '/update'" method="post">
        <div class="mb-3 w-25">
            <label for="district" class="form-label">District:</label>
            <input type="text" class="form-control" id="district" name="district" th:value="${district.getNameDistrict()}" required>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a th:href="'/admin/districts'" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>